appdirs
argcomplete
psycopg2-binary
asgiref
blinker
brotli
certifi
cffi
channels
channels-redis
daphne
charset-normalizer
click
colorama
cssselect2
Django
django-widget-tweaks
ecdsa
filelock
fonttools
future
fsspec
gunicorn
idna
importlib_resources
itsdangerous
Jinja2
MarkupSafe
opencv-python
openpyxl
packaging
pillow
psutil
pycparser
pydyf
pyparsing
pyphen
pyzk
python-barcode
python-dateutil
python-escpos
PyYAML
qrcode
requests
six
sqlparse
tinycss2
tinyhtml5
typing_extensions
urllib3
waitress
weasyprint
webencodings
Werkzeug
whitenoise
zopfli
